In [1]:
# Data Visualization
# BTech Computer Science Stream
# Week 5 Demo: Data Cleaning and Preperation
# Kenneth Francis Rodrigues, 240905112, 7/2/2025

In [2]:
import numpy as pd
import pandas as pd

In [3]:
# Problem 1
# 1. Create a CSV file called “Movies.csv” with details of 10 movies- 
# Movie Name, Language, Genre, Rating, Review. 
# a. Read CSV file into a dataframe and find the movie with the 
# highest rating. 
# b. Write the details of all “Hindi movies into a file 
# “HindiMovies.csv”. 

movies = pd.read_csv('datasets/movie.csv')
movies

,Name,Language,Genre,Rating,Review
0,Toy Story,English,Animation|Comedy,9.1,This a fantastic movie
1,Jumanji,English,Adventure|Action,8.5,What an absolutely stunning movie
2,The Great Indian Family,Hindi,Family,5.3,"Of all the films I have seen, this one has got..."
3,Andhadhun,Hindi,Crime|Mystery|Thriller,8.7,I watched this film not really expecting much
4,Shanghai Triad,English,Drama,8.3,This movie struck home for me.
5,Dangal,Hindi,Action|Biography|Drama,7.1,This film tried to be too many things all at once
6,Dead Man Walking,English,Drama,8.0,I cannot believe I enjoyed this as much as I did.
7,Taare Zameen Par,English,Drama|Family,8.1,It tries to be the epic adventure of the century.
8,Othello,English,Drama,6.8,This movie was so frustrating
9,3 Idiots,Hindi,Comedy|Drama,8.9,I laughed all the way through this movie.

In [4]:
print('Movie with highest rating:')
movies.iloc[movies['Rating'].idxmax()]

Movie with highest rating:

Name                     Toy Story
Language                   English
Genre             Animation|Comedy
Rating                         9.1
Review      This a fantastic movie
Name: 0, dtype: object

In [5]:
movies[movies['Language']=='Hindi'].to_csv('HindiMovies.csv')

In [6]:
# Problem 2
# 2. For the  CEREALS dataset, perform data preprocessing and 
# answer the following questions.  
# a. Create a table with the 5 number summary of all the numeric 
# attributes. 
# b. For each of the numeric attributes (proteins upto vitamins) , 
# identify and replace all missing data(indicated with -1) with 
# the arithmetic mean of the attribute. 
# c. Create a table with the 5 number summary of all the numeric 
# attributes after treating missing values.  Do you think the 
# strategy used in dealing with missing values was effective?  
# d. For each numeric attribute (proteins upto vitamins), identify 
# and replace all noisy data with the median of attribute.  
# e. Create a table with the 5 number summary of all the numeric 
# attributes after treating noisy values.  Do you think the 
# strategy used in dealing with noisy values was effective? 

cereals = pd.read_csv('datasets/Cereals.csv')
cereals

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,?,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

In [7]:
cereals.describe()#summary of first rows

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [10]:
numeric_attributes = cereals.select_dtypes(include=['int64','float64'])
for i in numeric_attributes:
    cereals[i].replace(-1,cereals[i].mean(),inplace=True)
cereals

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,?,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

In [11]:
cereals.describe()#summary of first rows

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,100.000000,3.000000,1.500000,1.500000,93.704912